.consumers {
    margin-bottom: 60px;
    h3 {
        text-align: center;
        margin: 40px auto;
    }
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
        li {

            a {
                height: 60px;
                border-radius: 8px;
                background-color: #FFFFFF;
                box-shadow: (5px 5px 15px rgba(0, 0, 0, 0.25));
                display: flex;
                align-items: center;
                padding: 15px;
                color: black;
                text-decoration: none;
                font-weight: 500;
                &::hover {
                    transform: scale(1.01);
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}

